
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Roboto:wght@300;700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300;0,700;1,700;1,800&family=Roboto:wght@300;700&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300;0,700;1,700;1,800&family=Roboto:wght@300;400;700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300;0,700;1,700;1,800&family=Roboto:wght@300;400;700&display=swap');





*{
    background-color: rgb(255, 223, 248);
}
.logo-panier{
  width: 25px; 
  height: 25px; 
}
.navbar{
    display: flex;
}
.nav  {
    margin-left: 490px;
    margin-top: 15px;
    
}
#logo{
    width: 250px;
    height: 70px;

    margin-left: 80px;
    margin-top: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    padding: 8px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(124, 124, 124);
    font-family:  "Montserrat" ,sans-serif;
}
nav ul li a:hover{
    color: black;
}
.col-1{
    margin-top: 200px;
    margin-left: 100px;
}
.col{
    display: flex;
}
.col-2 {
    width: 700px;
    margin-top: -20px;
  

}
.col-2 img{
    width: 100%;
}
.col-1 h1{
    font-family: "Open Sans";
    font-size: 40px;
}
.col-1 p{
   font-family: "Roboto";
   color: rgb(65, 65, 65);
}

.col-1 a{
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    background-color: rgb(255, 102, 0);
    margin-top: 50px;
    width: 105px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    

}
.col-1 a:hover{
    background-color: orange;
}


nav li div {
    height: 3px;
    background-color: rgb(117, 116, 116);
    width: 0%;
    transition: 0,9s;
    border-radius: 20px;
}
nav li:hover div{
    width: 100%;

}



